In [2]:
import mysql.connector
import json

with open(r"C:\Users\diego\OneDrive\Área de Trabalho\Programação\Hashtag Programação\Material Aulas Python Impressionador\dados.json", "r") as arquivo:
    dados = json.load(arquivo)

usuario = dados["usuario"]
senha = dados["senha"]


conexao = mysql.connector.connect(
    host='localhost',
    user=usuario,
    password=senha,
    database='python_crud_bd',
)
cursor = conexao.cursor()

### Create:

In [3]:
nome_produto = "água"
valor_produto = 2
comando = f'INSERT INTO vendas (nome_produto, valor_produto) VALUES ("{nome_produto}", {valor_produto})'
cursor.execute(comando)
conexao.commit()

### Read:

In [4]:
comando = f'SELECT * FROM vendas'
cursor.execute(comando)
resultado = cursor.fetchall()
print(resultado)

[(1, 'chocolate', 5.0), (2, 'água', 2.0)]

### Update:

In [6]:
nome_produto = "chocolate"
valor_produto = 4
comando = f'UPDATE vendas SET valor_produto = {valor_produto} WHERE nome_produto = "{nome_produto}"'
cursor.execute(comando)
conexao.commit()

### Delete:

In [8]:
nome_produto = "água"
comando = f'DELETE FROM vendas WHERE nome_produto = "{nome_produto}"'
cursor.execute(comando)
conexao.commit()

In [3]:
#Fechando a conexão:

cursor.close()
conexao.close()